---
import MainLayout from '../layouts/MainLayout.astro';
import Card from '../components/Card.astro';
import { formatDate } from '../js/utils';

// Define the Post interface
interface Post {
    id: number;
    title?: string;
    body?: string;
    userId?: number;
    tags?: string[];
    reactions?: number;
}

// Fetch posts
const response = await fetch('https://dummyjson.com/posts');
const posts = await response.json();
---


<MainLayout title="Welcome to Astro.">
	<main>
		<h1>Welcome to <span class="text-gradient">SteveG Blog</span></h1>
		<p class="instructions">
			BUILT WITH ASTRO:: <br />
			To get started, open the directory <code>src/pages</code> in your project.<br />
			<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above. (LOL. DONE)
		</p>
		<ul role="list" class="link-card-grid">
			{posts.posts.map( 
				(post: Post, index: number) => (
				<a href={`/blog/posts/${post.id}`} title={`Link to Post${post.title}`}>
				<Card dark={index % 2 ? true : false}>
					<h3>{post.title}</h3>
					<div>Published (random made-up date): 
					{
						formatDate(new Date(
							Math.floor((Math.random()*(2024-1970))+ 1970),
							Math.floor(Math.random()*12), 
							Math.floor(Math.random()*30)
						))
					}</div>
					<div>{`${post.body?.slice(0,95)}... `}</div>
				</Card>
				</a>
				)
			)}


		</ul>
	</main>
</MainLayout>

					<!--
						<Link
							href={`/posts?id=${post.id}`} 
							text={`${post.title}`}
  						style = "secondary"
  						isFilled = {true}
							borderVisible = {false}
						/>
					-->		

<style lang="scss">
@import "../styles/components/_instructions.scss";
</style>
