---
// library imports
import { Icon } from 'astro-icon/components';  // Updated import path

interface Props {
  text: string;
  href: string;
  style?: "primary" | "secondary";
  icon?: {
    name: string;
    position: "left" | "right" | "above" | "below" | "replace";
  };
  isFilled?: boolean;
  borderVisible?: boolean;
  classes?: string;
}

const {
  text,
  href,
  style,
  icon,
  isFilled = true,
  borderVisible = false,
  classes,
  ...rest
} = Astro.props as Props;
---

<a
  href={href}
  class:list={[
    "link",
    classes,
    style,
    { filled: isFilled, bordered: borderVisible },
  ]}
  {...rest}
>
  {
    icon && (icon.position === "left" || icon.position === "above") && (
      <Icon name={icon.name} class={`icon-${icon.position}`} />
    )
  }
  {
    icon && (icon.position === "replace") && (
      <span class="background-enabled" style={`background-image: url('${icon.name}')`}>{text}</span>
    )
  }  
  { icon && (icon.position != "replace") && 
    ( <span>icon {text}</span> )
  }    
  { !icon && 
    ( <span>{text}</span> )
  }  

  {
    icon && (icon.position === "right" || icon.position === "below") && (
      <Icon name={icon.name} class={`icon-${icon.position}`} />
    )
  }
</a>

<style lang="scss">
  .background-enabled {
    display: block;
    width: auto;
    height: 75px;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    text-indent: -9999px;
  }
</style>
