---
// import type { GetStaticPaths } from "astro";
import MainLayout from '../../layouts/MainLayout.astro';
import Card from '../../components/Card.astro';

export async function getStaticPaths() {
const response = await fetch('https://dummyjson.com/products');
  const products = await response.json(); 
	const paths = products.products.map((product: product) =>{
		return { params: { id: products.id } }
	});
	return paths;
}

export interface product {
	id: number;
	title: string;
	description?: string;
	price: number;
	rating?: number;
	stock: number;
	brand?: string;
	category?: string;
	thumbnail?: string;
	images?: string;
}

const { id } = Astro.params;
const response = await fetch(`https://dummyjson.com/products/${id}`);
// console.log('post:: ', post);
const product = await response.json(); 
---

<MainLayout title={`Blog post ${id}...`}>
	<main>
		<h3>{product.title} - ${product.price}</h3>
		<div class="product-images">

			<img src={product.images[0]} alt={product.title} />
			<!-- {product.images.map(image => (
				<img src={image} alt={product.title} />
				)
			)} -->
		</div>
		<div class="details">
			<span class="tiny-label">Brand:</span> {product.brand} | 
			<span class="tiny-label">Category:</span> {product.category} | 
			<span class="tiny-label">In stock:</span> {product.stock}
		</div>
		<div class="description">{product.description}</div>
		<button>Add to Cart</button>
	</main>
</MainLayout>

<style lang="scss">
	.product-images {
		float: left;
		width: 50%;
		margin-left: -150px;
		margin-right: 40px;

		img {
			max-width: 100%;
			border-radius: 10px;
		}
	}
	.description {
		margin: 1rem 0;
	}
	.tiny-label {
		font-size: .65rem;
		font-weight: 700;
		text-transform: capitalize;
	}
	.details {
		font-size: .85rem;
		font-weight: 700;
		text-transform: capitalize;
	}

</style>